(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "hello_bevy::sources::ColorSourceComponent": (
          native_size: (1920.0, 1080.0),
          transform: (
            translation: (0.0, 0.0, 0.0),
            rotation: (0.0, 0.0, 0.0, 1.0),
            scale: (1.0, 1.0, 1.0),
          ),
          color: LinearRgba((
            red: 1.0,
            green: 0.0,
            blue: 0.0,
            alpha: 0.5,
          )),
        ),
      },
    ),
  },
)
